.sidebar
{
    position: fixed;
    left: 0;
    bottom: 0;
    top: 65px;
    height: 460px;
    background-color: white;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar img
{
    height: 30px;
}


.iconc
{
    height: 76px;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.iconc:hover{
    background-color: rgb(228, 228, 228);
}

.sidebar div{
    font-family: roboto;
    font-size: 10px;
    margin-top: 4px;
}